microservice-chart:
  image:
    repository: cstarpcommonacr.azurecr.io/idpayselfexpensebackend
    tag: latest
    pullPolicy: Always

  ingress:
    host: "prod01.idpay.internal.cstar.pagopa.it"

  resources:
    requests:
      memory: "256Mi"
      cpu: "300m"
    limits:
      memory: "4Gi"
      cpu: "500m"

  autoscaling:
    enable: true
    minReplica: 1
    maxReplica: 2
    pollingInterval: 30 # seconds
    cooldownPeriod: 300 # seconds
    triggers:
      - type: cpu
        metadata:
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "70"

  envSecret:
    aks-api-url: cstar-p-weu-prod01-aks-apiserver-url
    APPLICATIONINSIGHTS_CONNECTION_STRING: appinsights-instrumentation-key


  keyvault:
    name: "cstar-p-idpay-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"

  envConfig:
    JAVA_TOOL_OPTIONS: >-
      -XX:InitialRAMPercentage=75.0
      -XX:MaxRAMPercentage=85.0
      -XX:+UseG1GC
      -XX:+UseContainerSupport
      -Djava.security.egd=file:/dev/./urandom
      -Djava.util.concurrent.ForkJoinPool.common.parallelism=7 
      -Dio.netty.eventLoopThreads=100 
      -javaagent:/app/applicationinsights-agent.jar 
      -Dapplicationinsights.configuration.file=/mnt/file-config-external/appinsights-config/applicationinsights.json

    CACHE_REFRESH_MS_RATE: "60000"
    REDIS_CACHE_ENABLED: "true"
    REDIRECT_URI: "https://api-io.cstar.pagopa.it/idpay/self-expense/redirect"
    WEB-VIEW-URL: "https://welfare.cstar.pagopa.it/ricevute/session/<session-id>"
    MIL_AUTH_BASE_URL: "https://api-mcshared.cstar.pagopa.it/auth/token"